@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&display=swap');

* {
	text-decoration: none !important;
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
	background: transparent;
	border: none;
	font-family: 'Lato';
	transition: 0.3s ease-in-out all !important;
}

.btn {
	border: 2px #222 solid !important;
	border-radius: 0 !important;
	padding: 12px 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.btn:hover {
	background: rgba(224, 224, 224, 0.411);
	transform: translateY(-5px);
}

.btn.btn-orange {
	border: none !important;
	color: #fff;
	background: #f87932;
}

.nav {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 60px;
}

.nav__link {
	font-family: 'Lato';
	font-size: 20px;
	padding: 16px 24px;
	color: #f87932;
	background: #fff;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 0 0 15px 15px;
}

.nav__logo {
	padding: 16px 44px 30px;
	color: #f87932;
	background: #fff;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 0 0 15px 15px;
}

.nav__burger {
	background: #fff;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	box-shadow: 0px 4px 8px 0px #00000066;
}

.nav__burger-line-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.nav__burger-line {
	border-radius: 3px;
	background: #f87932;
	width: 100%;
	height: 3px;
}

@media (max-width: 992px) {
	.nav__logo {
		padding: 0;
		background: transparent;
		box-shadow: none;
		border-radius: 0;
	}
}

.footer {
	background: #151c21;
}

.footer__top {
	padding: 80px 0;
}

.footer__link-title {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
	color: #fff;
}

.footer__link-link {
	color: #fff;
	font-size: 16px;
	margin-bottom: 6px;
}

.copy {
	color: #bbbbbb;
}

.footer_bot-line {
	color: #bbbbbb;
}

.footer_bot-link {
	color: #bbbbbb;
}

.blog__title {
	font-weight: 700;
	font-family: 'Montserrat';
	font-size: 48px;
	margin-bottom: 0;
}

.blog__subtitle {
	font-weight: 600;
	font-size: 32px;
	font-family: 'Montserrat';
	margin-bottom: 0;
}

@media (max-width: 500px) {
	.blog__title {
		font-size: 24px;
	}
}

.blog__photos {
	display: flex;
	gap: 24px;
}

.blog__photos1 {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.blog__photos2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.blog__photos1__imgs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
}
.blog__photos1__imgs-2 {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.blog img:hover {
	filter: grayscale(0.8);
}

@media (max-width: 1290px) {
	.blog__photos1 {
		flex-direction: row-reverse;
		gap: 9px;
	}

	.blog__photos {
		flex-direction: column;
		gap: 9px;
	}

	.blog__photos1__imgs {
		gap: 9px;
	}

	.blog__photos__small-img {
		width: 133px;
		height: 133px;
	}

	.blog__photos__lg-img-1 {
		width: 132px;
		height: 276px;
	}

	.blog__photos__lg-img-2 {
		height: 134px;
		width: 280px;
	}

	.blog__photos2 {
		display: flex;
		flex-direction: column-reverse;
		gap: 9px;
	}
}

.header {
	height: 1000px;
	background: url('./img/BG.png');
	background-size: cover;
	background-position: bottom;
}

.rombs {
	position: absolute;
	top: 0;
}

.header__title {
	font-family: 'Merriweather';
	font-size: 80px;
	color: #39bfa7;
	max-width: 510px;
	margin-bottom: 80px;
	font-weight: 700;
}
.header__title span {
	color: #f87932;
}

@media (max-width: 1290px) {
	.header__title {
		font-size: 40px;
	}
}

.adventure__subtitle {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 20%;
	margin-bottom: 12px;
	color: #666666;
}

.adventure__title {
	font-family: 'Merriweather';
	font-weight: 900;
	font-size: 60px;
	max-width: 424px;
	color: #222222;
	margin-bottom: 40px;
}

.adventure__text {
	color: #333333;
	font-size: 20px;
	letter-spacing: 20%;
	max-width: 550px;
	margin-bottom: 150px;
}

@media (max-width: 1150px) {
	.adventure__images {
		display: none;
	}
	.adventure {
		text-align: center;
	}

	.adventure__title {
		margin: 0 auto;
		font-size: 30px;
	}

	.adventure__subtitle {
		font-size: 18px;
	}
}
